/* 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500;1,600;1,700&family=Poppins:wght@300;400;500;600;700&display=swap'); */

:root{
    --navbar-color:rgb(80, 131, 241) ;
    --color-ornage:chocolate;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}


/* barra de navegacion */
header{
    background-color: var(--navbar-color);
    position: fixed;  
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
} 

.logo{
    display: flex;
    color: rgb(238, 242, 245);
    line-height: 50px;
}
.logo1::before{
    content: "<";
    color: darkgrey;
} 

.logo1::after{
    content: "/";
    color:var(--color-ornage);
}
.logo2::after{
    content: ">";
    color: darkgrey;
}

.nav-toggle{
    color: #fff;
    background: none;
    font-size: 30px;
    border: none;
    cursor: pointer;
    display: none;
}
.nav_container{
 display: flex;
 justify-content: space-around;
 margin: auto;
}

.nav-menu{
 list-style: none;
 display: flex;
}

.nav-link {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 0 20px;
    line-height: 50px;
}
.nav-link a{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    transition: 0.4s;
}
.nav-link a:hover{
     border-bottom:ridge;
     border-top:ridge;
     font-size: 20px;
     border-color: rgb(255, 238, 0);
}


@media(max-width:800px){
    header{
        
    } 
    .nav_container{
    
    }
    .nav-menu{
        flex-direction: column; 
        background-color:var(--navbar-color);
        position: fixed;
        width: 100%;
        top:50px;
        height: 100vh;
        align-items: center;
        left: 100%;
        transition: 0.5s;
    }
    .nav-toggle{
        display: block;
    }
    .menu-active{
        left: 0%;
    }
    
}


/* home secction */


.home{
 
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white; 
    background-image: linear-gradient(180deg,#0000008c 0%,#0000008c 100%), url('../img/fondo2.jpg');
    background-size: cover;
    clip-path: polygon(0 0,100% 0,100% 80%, 50% 95%,0 80%);
    z-index: -1;
}

.home-content{
  display:grid;
  max-width: 800px;
  align-content: center;
  height: 100vh;
  margin-left:20%;
}

.text1 h1{
    color: chocolate;
    font-size: 50px;
    line-height:50px;
}
.text2 h1{
    margin-top: 30px;
    font-size: 50px;
    line-height:50px;
}


/* section about me */
/* opacity: 0.8;
background-size: 10px 10px;
overflow: hidden; */

.about{
   background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
   overflow: hidden;
   opacity: 0.8;
   display: grid;
   grid-template-columns: 50% auto;
}
.about img{
    margin-left:  5rem;
    width: 200px;
    border-radius: 50%;
    background-color: aqua;
}
.img-content{
  background-color: aqua;
  justify-content: center;
}

.about-content {
    background-color: #444cf7;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-top: 3rem;
    width: 50%;
}

/* 
body{  
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
header{
    position:fixed;
    width: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: black;
    height: 4rem;
}
.navbar .logo a {
   color:#fff;
   font-size: 30px;
}
.navbar .logo a::before{
    content: "3du";
    color: blue;
    font-weight: 900;
}

.navbar .menu li{ 
   list-style: none;
   display: inline-block; 
 }

 .navbar .menu{
     background-color: #a12c05;
     width: 100%;
 }
 .navbar .menu li a{
    color: coral;
    font-size: 1.3em;
    font-weight: 800;
    transition: color 0.3s ease;
 }
 .navbar .menu li a:hover{
    color: crimson;
    font-size: 20px;
    transition:0.5s;
 }


 @media (max-width:850px){
  header label{
      display:block;
    }
    .navbar{
       position: absolute; 
       width: 70%;
       margin-left: -70%;
    }
    .menu{
      flex-direction: column;
    }
     
    .navbar .logo a{
        color: cornsilk;
        font-size: 30px;
        display: none;
     }
    .menu li{
        width: 150px;
        height: 50px;
        border-top: 1px solid #fff;
        background: rgb(196, 195, 184);
        color: rgb(29, 27, 25);
    }
    .navbar .menu li a{
        color: rgb(22, 20, 20);
        
     }

    
    #btn:checked ~ .navbar{
        margin: 0;
    } 

}
 
 */


 /* .home{
    display: flex;
    flex-wrap:wrap ;
    background-image: url("../img/fondo.jpg") ;
    height: 100vh;
 }
 .home .home-content{

    justify-content: center;
    padding-top: 150px;
    padding-left: 100px;

}

 .home .home-content .text1{
     color: brown;
    font-size: 1.8rem;
     font-family:'Pattaya', sans-serif;
 }
 .home .home-content .text2{
    font-size: 2.5rem;
    color: orangered;
}

@media only screen and (max-width: 1000px) {
    .home .home-content .text2{
        font-size: 2rem;
 
    }
    .home .home-content .text1{
        padding-top: 100px;
        color: brown;
        font-size: 1.5rem;
        font-family:'Pattaya', sans-serif;
    }
}


 /* fuente de el about  */

 /* .about{
     display: flex;
     width: 60%;
     border-radius: 80px;
     border: slategray solid;
     background: rgba(235, 234, 240, 0.8);
     box-shadow: 0 8px 32px 0 rgba(228, 229, 243, 5);
     margin: -10% auto 20px auto;
     justify-content: space-evenly;
     align-items: center;
     padding: 40px;

 }
 
 .about img{
    height: 250px;
    border-radius: 50%;
 }

.about-content p:nth-child(1){
 margin: 30px;
 padding: 30px;
 font-weight: bold;
 font-size: 23px;
 
}

@media only screen and (max-width: 1000px) {
    .about{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
    }
}


/* ************************
font skills*/
/*h2{
    color: rgb(10, 173, 83);
    font-size: 35px;

}

.skills{
   padding: 50px;
    color: rgb(26, 221, 221);  

}
.skills .container{
   color: rgb(52, 52, 59);
   margin: 20px;
}

.skills .container .text{
   color: rgb(52, 52, 59);

   
}

.skills .icons{
   padding-left: 60px;
    justify-content: space space-around;
    background: rgb(0, 255, 179);
}

.skills .icons img{
    width: 150px;
    height: 150px;
   
} */

/* ************************
font proyectos */
/*
.projects h1{
   
    color: rgb(7, 5, 95);
    font-size: 35px;
    font-family: 'Bungee Inline', cursive;
    margin-bottom: 50px;
    
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 80px;
}

.project-container {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin:  0 auto;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit,minmax(260px,auto));

}
.project-card {
    
    background: rgba( 164, 163, 173, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    display: grid;
    gap:1em;
    width: 260px;
    margin:10px auto;
}

.project-card


.project-image {
    height: 200px;
    margin-top: 25px;
    width: 250px;
    border-radius: 10%;
}

.project-link {
    text-decoration: none;
    color: #a12c05;
}

.project-card h2{
    font-size: 30px;
}

.subtext{
    color: rgb(95, 121, 121);
   
}
p {
    margin: 0;
    padding: auto;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

/* ***************************************
 contact */
/*
footer {
    text-align: center;
    background-color: black;
    color: white;
   
}

.fab{
    margin: 5px;
    color: rgb(223, 205, 205);
    font-size: calc(3em + 1vw);
    
} */
