*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-with{
    max-width: 1300px;
    padding:0 80px;
    margin: auto; 
}
.navbar{
    position:fixed;
    width: 100%;
    padding: 30px 0;
    background: rgb(29, 27, 25);
    font-family: sans-serif;
}

.navbar .max-with{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
   color: rgb(112, 52, 252);
   font-size: 30px;
   font-weight: 600;

}

.navbar .menu li{
   
   list-style: none;
   display: inline-block;
 }

 .navbar .menu li a{
   color: coral;
    font-size: 18px;
    font-weight: 500;
    margin-left:  25px;
    transition: color 0.3s ease;
 }
 .navbar .menu li a:hover{
    color: crimson;
 }


 /* fuente de el home  */
 
 .home .max-with{
     margin: auto 0 auto 40px;
 }


 .home .home-content .text1{
     font-size: 20px;
 }
 .home .home-content .text2{
    font-size: 40px;
    font-weight: 600;
    margin-left: -3px;
    font-family: cursive;
}


 /* fuente de el about  */

 
 .about .about-content{
    display:  flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

 }

 .about .about-content .left{
     width: 45%;
 }
.about .about-content .left img{

    height: 150px;
    width: 150px;
    border-radius: 10%;
    object-fit: cover;
 }
 .about .about-content .right{
  width: 45%;
 }



  



 /* fuente proyectos */

 .proytec{
    
     
 }

.proytec .carousel .card img{
     height: 150px;
     width: 150px;
     object-fit: cover;
     border-radius: 10%;
     border: 5px rgb(33, 30, 210) solid;
  
     color: darkcyan;
 }
 .proytec .carousel .card{
    background: darkgray;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
}