*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-with{
    max-width: 1300px;
    padding:0 80px;
    margin: auto; 
}
.navbar{
    position:fixed;
    width: 100%;
    padding: 30px 0;
    background: rgb(29, 27, 25);
    font-family: sans-serif;
}

.navbar .max-with{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
   color: rgb(112, 52, 252);
   font-size: 30px;
   font-weight: 600;

}

.navbar .menu li{
   
   list-style: none;
   display: inline-block;
 }

 .navbar .menu li a{
   color: coral;
    font-size: 18px;
    font-weight: 500;
    margin-left:  25px;
    transition: color 0.3s ease;
 }
 .navbar .menu li a:hover{
    color: crimson;
 }


 /* fuente de el home  */
 

 .home{
    margin: 0;
    padding: 0;
    display: flex;
    background: url("../img/fondo.jpg") ;
    height: 100vh;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
 }


 .home .max-with{
     margin: auto 0 auto 40px;
 }


 .home .home-content .text1{
     font-size: 20px;
 }
 .home .home-content .text2{
    font-size: 40px;
    font-weight: 600;
    margin-left: -3px;
    font-family: cursive;
}


 /* fuente de el about  */

 .about{
     width: 80%;
     height: 330px;
     background-color: #FFFFFF;
     border-radius: 50px;
     border: slategray solid;
     box-shadow: 2px 2px 12px rgba(0,0,0,0,2);
     display: flex;
     margin: -7% auto 20px auto;
     position: relative;
     justify-content: space-evenly;
     align-items: center;

 }
 
 .about img{
    height: 250px;
    border-radius: 50%;
    margin: 30px;
 }

.about-content p:nth-child(1){
    margin: 30px;
 padding: 30px;
 color: saddlebrown;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: bold;
 font-size: 23px;
 
}




  



 /* fuente proyectos */

 .proytec{
   padding: 10%;
   margin:0;
   background: wheat;
   text-align: center;
    
 }


 .container{
     display:flex;
     justify-content: space-between;
 }  
 
 /* .proytec .box{
   width: 300px;
   height: 320px;
   border-radius: 50%;
   box-shadow: 2px 2px 12px rgba(0,0,0,0,0.3);
 } */

 .proytec .card{

     margin: 2%;
     height: 150px;
 }

 .proytec .card img{
     height: 200px;
    border: 5px rgb(33, 30, 210) solid;
    border-radius: 10%;
 }
/* .proytec .container .card img{
     height: 150px;
     width: 150px;
     object-fit: cover;
     border-radius: 10%;
     border: 5px rgb(33, 30, 210) solid;
    color: darkcyan;
 } */
 /* .proytec .carousel .card{
    background: darkgray;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
}  */

.contact{
    height: 150px; 
    margin: 20px;;
    background: cyan;
}